#root {
 width: 100%;
 height: 100vh;
 margin: 0;
 padding: 0;
 border: none;
 box-sizing: border-box;

}

.pentagon {
 width: 50px;
 height: 44px;
 background-color: rgb(120, 8, 8);
 clip-path : polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
}
.pentagon span {
 color: white;
 font-weight: bold;
}